@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* { box-sizing: border-box; user-select: none; margin: 0; padding: 0; }

body {
    background: radial-gradient(circle, #051622 0%, #000000 100%);
    color: #00f2ff;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    overflow: hidden;
}

#desktop {
    width: 100%;
    height: calc(100vh - 55px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px;
    background: url('https://w.wallhaven.cc/full/85/wallhaven-85m88y.jpg') no-repeat center center; /* Můžeš si dát vlastní URL tapety */
    background-size: cover;
}

.icon {
    width: 100px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.icon-box {
    width: 65px;
    height: 65px;
    background: rgba(0, 242, 255, 0.1);
    border: 1px solid rgba(0, 242, 255, 0.4);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.1);
}

.icon:hover .icon-box {
    background: rgba(0, 242, 255, 0.3);
    box-shadow: 0 0 25px #00f2ff;
    transform: scale(1.05);
}

.icon span {
    margin-top: 10px;
    font-size: 11px;
    text-shadow: 0 0 5px #00f2ff;
    text-transform: uppercase;
}

/* OKNA */
.window {
    position: absolute;
    width: 450px;
    min-height: 300px;
    background: rgba(0, 10, 20, 0.9);
    border: 1px solid #00f2ff;
    box-shadow: 0 0 40px rgba(0, 242, 255, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    backdrop-filter: blur(20px);
}

.window-header {
    background: rgba(0, 242, 255, 0.2);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-bottom: 1px solid #00f2ff;
}

.window-title { font-size: 12px; font-weight: bold; }

.close-btn { 
    color: #ff4d4d; 
    cursor: pointer; 
    font-weight: bold; 
    font-size: 18px;
}

.window-content {
    padding: 20px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}

.terminal-text { color: #00ff41; font-family: monospace; }

/* TASKBAR */
#taskbar {
    height: 55px;
    background: rgba(0, 0, 0, 0.85);
    border-top: 2px solid #00f2ff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

#start-btn {
    background: transparent;
    border: 1px solid #00f2ff;
    color: #00f2ff;
    padding: 8px 15px;
    font-family: 'Orbitron';
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 242, 255, 0.3);
}

#clock { font-size: 14px; color: #00f2ff; text-shadow: 0 0 10px #00f2ff; }
